<div class="container">
  <h1><%= @producto.title %></h1>
  <p class="flow-text">
    <strong>Descripción:</strong>
    <%= @producto.content %>
  </p>
  <%= link_to 'Agregar al carrito', "", class: "btn btn-primary" %>
  <%= link_to 'Editar', edit_producto_path(@producto), class: "btn btn-primary" %>
</div>